body {
  width: 100vw;
  background-color: #f5f5f2;
  overflow: auto;
  overflow-x: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.dashboard {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: calc(100%-188px);
  margin: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

@media (max-width: 1023px) {
  .container-fluid {
    width: calc(100%-18px);
  }

  .overlay {
    display: block;

    &.is-active {
      width: 100%;
      height: 100%;
      opacity: 0.8;
      visibility: visible;
    }
  }
}
