body {
  width: 100vw;
  background-color: #f5f5f2;
  overflow: auto;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.dashboard {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}

.container-fluid {
  width: calc(100%-188px);
  margin: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .container-fluid {
    width: calc(100%-55px);
  }
}
