body {
  width: 100vw;
  background-color: #f5f5f2;
}

* {
  box-sizing: border-box;
}

.dashboard {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
}

.container-fluid {
  width: calc(100%-188px);
  margin: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side-navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 188px;
  background-color: #191919;
  z-index: 1;
}

.content-wrapper {
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-left: 188px;
}

@media (max-width: 720px){
  .container-fluid {
    width: calc(100%-55px);
  }

  .side-navigation {
    width: 55px;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 55px;
  }
}
