.button {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background-color: #f58220;
  padding: 8px;
  border-radius: 5px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    background-color: #ffa200;
  }
}

.button-links {
  width: 130px;
}

.button-dates {
  padding: 12px;
  img {
    width: 18px;
    height: 18px;
    filter: invert(1);
  }
}
