.content {
  padding-top: 18px;
}

.wrapper {
  border: none;
  background-color: #ffffff;

  &:first-of-type {
    margin-top: 60px;
  }
}

.general, .links {
  background-color: #f5f5f2;
}

.header {
  height: 46px;
  padding-top: 16px;
  color: #a6a6a6;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  border: solid 1px #e3e3e3;
  padding: 15px;
}

@media (max-width: 768px){
  .content {
    padding-top: 0;
  }

  .wrapper:first-of-type {
    margin-top: 0;
  }

  .wrapper:last-of-type {
    div:first-child {
      margin-bottom: 78px;
    }
  }
}
