.dates {
  height: 110px;
  border: solid 1px #e3e3e3;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-filter {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  width: 325px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
}

.date {
  margin: 5px;
  padding: 8px;
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}

.date-end {
  border-left: 1px solid #e3e3e3;
}

.date-choice-start {
  display: none;
}

.date-choice img {
  width: 13px;
  height: 13px;
  filter: invert(63%) sepia(1%) saturate(798%) hue-rotate(34deg) brightness(99%) contrast(90%);
}

.graph {
  height: 640px;
  border: solid 1px #e3e3e3;
  margin: 0 auto;
  padding: 15px;
  display: block;
}

.summary-table {
  width: 75%;
  margin: 15px auto;
}

.table-cell {
  display: inline-flex;
  justify-content: space-between;
  width: 40%;
  border-bottom: 2px solid #e3e3e3;
  margin: 15px 35px;
}

.cell-name {
  color: #a6a6a6;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
}

.cell-value {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}

.summary-chart {
  display: block;
  width: 75%;
  margin: 15px auto;

  .table-cell {
    padding-top: 30px;
    padding-bottom: 18px;
    border: none;
  }

  img {
    width: 85%;
    max-width: 655px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 55px;
  }
}

@media (max-width: 767px) {
  // .dates {
  //   align-items: unset;
  // }

  .date-filter {
    display: block;
    position: relative;
    height: 84px;
  }

  .date-end, .date-start {
    border: 1px solid #e3e3e3;
  }

  .date-choice {
    position: absolute;
    right: 0;
    top: 0;

    &:last-of-type {
      top: 40px;
    }
  }

  .date-choice-start {
    display: block;
  }
}
