.dates {
  height: 110px;
  border: solid 1px #e3e3e3;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-filter {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  width: 325px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e3e3e3;
}

.date {
  margin: 5px;
  padding: 8px;
  color: #333333;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}

.date-end {
  border-left: 1px solid #e3e3e3;
}

.date-choice img {
  width: 13px;
  height: 13px;
  filter: invert(63%) sepia(1%) saturate(798%) hue-rotate(34deg) brightness(99%) contrast(90%);
}

.graph {
  height: 640px;
  border: solid 1px #e3e3e3;
  margin: 0 auto;
  padding: 15px;
  display: block;

  img {
    width: 65%;
    height: 65%;
    display: block;
    margin: 0 auto;
  }
}

.summary-table {
  width: 75%;
  margin: 15px auto;
}

.table-cell {
  display: inline-flex;
  justify-content: space-between;
  width: 40%;
  border-bottom: 2px solid #e3e3e3;
  margin: 15px 35px;
}

.cell-name {
  color: #a6a6a6;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
}

.cell-value {
  color: #333333;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
}
