.main-content {
  height: calc(100%-60px);
  width: calc(100%-193px);
  right: 0;
  margin-top: 60px;
  margin-left: 188px;
  padding: 2px 18px 0 0;
}

.wrapper {
  border: none;
  background-color: #ffffff;
}

.general,
.links {
  background-color: #f5f5f2;
}

@media (max-width: 768px) {
  .content {
    padding-top: 0;
  }

  .wrapper:first-of-type {
    margin-top: 0;
  }

  .wrapper:last-of-type {
    div:first-child {
      margin-bottom: 78px;
    }
  }
}
