.topbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
  width: 100%;
  border: 1px solid #e3e3e3;
  background: #ffffff;
  display: flex;
  flex-flow: nowrap row-reverse;
  align-self: flex-end;
}

.topbar img {
  filter: invert(0.5);
}

.topbar-button:hover {
  background: #e3e3e3;
}

.quit {
  position: relative;
  height: 60px;
  width: 60px;
  padding: 20px;
  border-left: 1px solid #e3e3e3;
}

.notification {
  position: relative;
  height: 60px;
  width: 60px;
  padding: 20px;
  border-left: 1px solid #e3e3e3;
}

.notification-active {
  width: 9px;
  height: 8px;
  background-color: #f58220;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 30px;
  z-index: 1;
}

.profile {
  height: 60px;
  width: 172px;
  padding: 22px;
  border-left: 1px solid #e3e3e3;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  align-items: center;
  color: #56819f;
  font-family: $side-nav-font;
  font-size: 13px;
  font-weight: 300;
}

.profile img {
  width: 17px;
  height: 17px;
}

.wallet {
  height: 60px;
  width: 188px;
  padding: 22px;
  border-left: 1px solid #e3e3e3;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  align-items: center;
  color: #9c9c9c;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
}

.wallet img {
  width: 17px;
  height: 18px;

  &:last-of-type {
    width: 11px;
    height: 7px;
  }
}

@media (max-width: 767px) {
  .topbar {
    position: fixed;
    bottom: 0;
    z-index: 1;
    justify-content: flex-end;
  }

  .topbar-button p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .quit,
  .notification,
  .profile,
  .wallet {
    right: 0;
    height: 60px;
    min-width: 60px;

    img {
      max-height: 18px;
      &:not(:first-of-type) {
        display: none;
      }
    }
  }

  .wallet {
    width: 124px;
  }

  p {
    font-size: 13px;
  }
}
